@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.flex {
  display: flex;
}

/* dark-1 */
.gray {
  color: rgb(19, 19, 19);
}
/* Dark-2 */
.light-gray {
  color: rgb(66, 66, 66);
}

/* Dark-3  */
.very-light-gray {
  color: rgb(114, 114, 114);
}
/* orange */
.orange {
  color: rgb(255, 144, 14);
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border-style: none;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  background: rgb(255, 144, 14);
  padding: 20px 25px;
}

/* header section */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.brand {
  font-weight: 700;
  font-size: 38px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner style  */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-tile {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
}
.banner-content {
  margin-bottom: 50px;
}
.banner-img {
  width: 100%;
  margin-bottom: 30px;
}

/* TEAM AND FEATURES RELATED STYLES  */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 120px;
}
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
  max-width: 537px;
}
.features-title {
  font-size: 45px;
  font-weight: 700;
}
.features-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
/* <!-- features will enjoy --> */
.enjoy-content {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  gap: 146px;
  padding-top: 130px;
}
.enjoy-container {
  width: 586px;
}
.enjoy-title {
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 21px;
  padding-bottom: 24px;
}
.enjoy-description {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 30px;
}
.card-container {
  width: 586px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
}
.card-title {
  color: rgb(19, 19, 19);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.card-description {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
}
#card-img {
  max-width: 708px;
}
.btn-card {
  font-weight: 700;
  width: 342px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 46px 42px;
  margin-left: -50px;
  margin-top: -100px;
}
.year{
  font-size: 4rem;
}
.expe{
  font-size: 1rem;
}
/* SOME FACTS SECTION  */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.8rem;
}
.fact {
  border: 1px solid rgb(255, 144, 14);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  color: rgb(66, 66, 66);
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-top: 5px;
}
.fact-description {
  max-width: 540px;
  margin-top: 24px;
  margin-bottom: 100px;
}
/* OUR SPONSOR SECTION */
.sponsor {
  max-width: 1440px;
  margin: 130px auto;
}
.sponsor-container {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-title {
  font-weight: 700;
  font-size: 2.8rem;
}
.sponsor-description {
  font-size: 16px;
  font-weight: 400;
}
/* sponsor image section */
.sponsor-img > img {
  max-width: 152.51px;
  filter: grayscale(100%);
}
.sponsor-img {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.copyright {
  width: 1440px;
  margin: 130px auto;
  border-radius: 8px;
  background: rgb(255, 244, 231);
}
.copyright-title {
  font-size: 20px;
  text-align: center;
  padding: 39px 0;
}

/* Responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container {
    grid-template-columns: 1fr;
  }
  .sponsor-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 156px;
    margin: 0 auto;
    gap: 30px;
  }
  .our-features,
  .fact-co {
    margin-left: 20px;
  }
  .facts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .copyright {
    width: auto;
    margin: 130px auto;
    height: auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  .copyright {
    width: auto;
    margin: 130px auto;
    height: auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
  }
  .facts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: aquamarine;
    width: auto;
    margin: 0 auto;
    gap: 1rem;
  }
}
